 @import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans&display=swap');
:root{
	font-family: 'Courier New', Courier, monospace;
--bg-color:#213555;
--primare-color:var(--primare-color);
}

 
